
  <body>
    

  <h1 class="title">Lista de Usuarios</h1>
  <div class="container">
  <table class=" table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Contraseña</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let  usuarioRegistro of  usuarioRegistro ">
        <td>{{usuarioRegistro.id}}</td>
        <td>{{usuarioRegistro.firstName}}</td>
        <td>{{usuarioRegistro.email}}</td>
        <td>{{usuarioRegistro.phone}}</td>
        <td>
          <input type="password" [value]="usuarioRegistro.password" [readonly]="!usuarioRegistro.mostrarContrasena" />
          <span (click)="Esconcerpassword(usuarioRegistro)">  </span>
        </td>
        </tr>
    </tbody>
    
    </table>
  </div>
</body>
