body {
    background: linear-gradient(100deg, rgb(87, 147, 236), rgb(232, 106, 75),white, rgb(236, 72, 72), rgb(105, 157, 234));
    background-size: 400% 400%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    display: flex;
    animation: cambio 10s ease infinite;
}


@keyframes cambio {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



img {
    width: 20%;
    height: 40%;
border-radius: 100%;
mix-blend-mode: multiply;
   

}

