<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div id="Emcabezado">
    <h3>Movie Peliculas A Tu Estilo</h3>
</div>

    <nav id="menu">
        <button id="buscar">buscar</button>
        <input type="text" placeholder="Buscar">
        <button>Crear cuenta</button>
         <button routerLink="/login">Iniciar sesion</button>
        <button>Menbresia</button>
        
      
    </nav>

    <router-outlet></router-outlet>

</body>
</html>
