
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Informacion legal</a></li>
                <li class="list-inline-item"><a href="#">Acerca de nosotros</a></li>
                <li class="list-inline-item"><a href="#">Contactos</a></li>
                <li class="list-inline-item"><a href="#">Preguntas frecuentes</a></li>
                <li class="list-inline-item"><a href="#">Convenios</a></li>
            </ul>
            <p class="copyright">Movie Reaction © 2024</p>
        </footer>
    </div>