<body>
<div class="col-md-6 offset-md-3">
<h3 class="text-center">Registro de empleados</h3>
<form (ngSubmit)=" onSubmit()">
<div class="form-group">
<label>Nombre :</label>
<input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.name" name="nombre">
</div>
<div class="form-group">
    <label>Apellido :</label>
    <input type="text" class="form-control" id="Apellido" [(ngModel)]="usuario.lastName" name="Apellido">
    </div>
    <div class="form-group">
        <label>Telefono :</label>
        <input type="text" class="form-control" id="Telefono" [(ngModel)]="usuario.phone" name="Telefono">
        </div>
        <div class="form-group">
            <label>Email :</label>
            <input type="text" class="form-control" id="Email" [(ngModel)]="usuario.email" name="email">
            </div>
          
  <button class="btn btn bg-success">Guardar</button>
</form>
</div>
</body>