


<form (ngSubmit)=" onSubmit()">  
    <div id="Contenedor">
        <h1>Actualizar Reserva</h1>
      
        <h2>Pelicula</h2>
        <h3></h3>
    <section class=" mat-form-field">
          <mat-label>Hora</mat-label>
          <input type="datetime-local" class="form-control" id="nombre"  name="nombre" autocomplete="off" placeholder="Nombre">

       
          <mat-label >Sala</mat-label>
       <input type="text" class="form-control" id="Apellido"  name="Apellido" autocomplete="off" placeholder="Sala">
       
      
          <mat-label >Cantidad de sillas</mat-label>
          <input type="text" class="form-control" id="Telefono"  name="Telefono" autocomplete="off" placeholder="sillas">
      
      
         
     
        <button class="button btn ">Actualizar</button>
        <button class="button1 btn ">Eliminar</button> 
      </section>
      </div>
      
    </form>
      <div id="contenedor2"> 
     
    
    <section id="imagenesSocial">
      <button type="button" class="close" routerLink="/home" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
      </section>
      </div>
      <section class="color">
    
    