<div>
    <section class="section-color">
<h1>Iniciar Sesion</h1>
<p>Entra con tu usario registrado</p>
</section> 

<section id="User">
    <h4>Usuario/Correo</h4>
<mat-form-field>
   <mat-label>Usuario</mat-label>
    <input matInput>
  </mat-form-field>
  <h4>Contraseña</h4>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput>
  </mat-form-field>

  <button>Ingresar</button>

  <a href="">¿Olvidaste tu contraseña?</a>

</section>
<section class="section-color2" > 
  <a href="">Registrate</a>
  </section>
</div>  

