body{
    background-color: rgb(248, 248, 248)    ;
}


div{
    background:linear-gradient(180deg,rgb(193, 193, 198),  rgb(51, 50, 50));
    width: 30%;
    height: 72%;
    padding: 30px;
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column; 
    align-items: center;
     border: 1px solid rgb(189, 61, 38);
    border-radius: 15px ;
}


.section-color{
    background:transparent;
   width: 100%;
   border-radius: 12px 12px 0px 0px ;
   padding: 4px;
   position: fixed;  
   top: 0px;  
   left: 0;

}


.section-color h1 {
    margin-bottom: -5px; /* Ajusta según sea necesario */
    color: white;
    margin-top: 10px;
}

.section-color p {
    margin-top: -15px; /* Ajusta según sea necesario */
    color: white;
}


.section-color p{
    margin-top: 10px;
}

.section-color2{
    background:transparent;
    width: 100%;
    border-radius: 0 0 12px 12px;
    padding: 6px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -20px;

    a{
        font-size: small;
        color: rgb(250, 240, 240);
       

    }
}




#User {
    text-align: center;
    display: flex;          /* Mostrar los elementos en línea */
    flex-direction: column;     /* Disposición horizontal */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center;     /* Centrar los elementos verticalmente */
    margin-top: 17%; 
    color: white;
}



#User button{
width: 70%;
padding: 5%;
border-radius: 15px;
background: linear-gradient(80deg, rgb(238, 15, 15), rgb(234, 50, 4));
}

#User a {
    margin-top: 20px; /* Ajusta según sea necesario */
    font-size:small;
    color: rgb(217, 216, 237);
}