<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <section class="section-color">
<h1>Iniciar Sesión</h1>
<p>Bienvenido Ingresa Con Tu Correo</p>
</section> 

<section id="User">
    <h4>Usuario</h4>
<mat-form-field>
   <mat-label><mat-icon>person</mat-icon></mat-label>
    <input matInput>
  </mat-form-field>
  <h4>Contraseña</h4>
  <mat-form-field>
    <mat-label>******</mat-label>
    <input matInput>
  </mat-form-field>

  <button id="ingresar">Ingresar</button>

  <a href=""><p>¿Olvidaste tu contraseña?</p></a>

</section>
<section class="section-color2" > 
  <a href="">Registrate</a>
  </section>


  
</div>  
</body>
</html>




