<!DOCTYPE html>
<html lang="en">
 
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

 
  <div class="formulario">
    <section class="section-color">

    
<h1>Iniciar Sesión</h1>
<button type="button" class="close" routerLink="/home" aria-label="Close">
  <span aria-hidden="true">x</span>
</button>


<p>Bienvenido Ingresa Con Tu Correo</p>
</section> 
  <section id="User">
    <h4>Usuario</h4>
<mat-form-field >
   <mat-label><mat-icon>person</mat-icon></mat-label>
    <input matInput  formControlName="email">
  </mat-form-field>
  <h4>Contraseña</h4>
  <mat-form-field>
    <mat-label>******</mat-label>
    <input matInput  type="password"  formControlName="password">
  </mat-form-field>

  <button routerLink="/home" >Ingresar</button>

  <a href=""><p>¿Olvidaste tu contraseña?</p></a>

</section>
<section class="section-color2" > 
  <a href="" routerLink="/registre">Registrate</a>
  </section>


</div> 

</body>


<section class="color">

  <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Informacion legal</a></li>
      <li class="list-inline-item"><a href="#">Acerca de nosotros </a></li>
      <li class="list-inline-item"><a href="#">Contactos </a></li>
      <li class="list-inline-item"><a href="#">Preguntas frecuentes </a></li>
      <li class="list-inline-item"><a href="#">Convenios</a></li>
  </ul>
  <p class="copyright">Movie Reaction © 2024</p>
  </section>
</html>




