<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
         <section class="carusel1">
            <div class="card">
                <h2>ESTRENO</h2>
                <img src="../../assets/imagenes/card1.png" class="card-img-top" alt="...">
                <div class="card-body">
                 
                  <a href="#" class="btn btn-primary">Rservar</a>
                </div>
              </div>

              <div class="card" >
                <h2>ESTRENO</h2>
                <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Reservar</a>
                </div>
              </div>
              <div class="card" >
                <h2>ESTRENO</h2>
                <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Reservar</a>
                </div>
              </div>
              <div class="card" >
                <h2>ESTRENO</h2>
                <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Reservar</a>
                </div>
              </div>
              <div class="card" >
                <h2>ESTRENO</h2>
                <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Reservar</a>
                </div>
              </div>
            </section>
          </div>
          <div class="carousel-item">
            //carousel2
            <section class="carusel1">
              <div class="card">
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/card1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                   
                    <a href="#" class="btn btn-primary">Rservar</a>
                  </div>
                </div>
  
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
              </section>
          </div>
          //carousel2
          <div class="carousel-item">
            <section class="carusel1">
              <div class="card">
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/card1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                   
                    <a href="#" class="btn btn-primary">Rservar</a>
                  </div>
                </div>
  
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="..//../assets/imagenes/deadpool-3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
                <div class="card" >
                  <h2>ESTRENO</h2>
                  <img src="../../assets/imagenes/cinema 3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">Reservar</a>
                  </div>
                </div>
              </section>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      
</body>
</html>


