<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cabezera">
       <img src="../../assets/imagenes/kunfu.jpg" alt="">
       
       
       <section class="titulo">
        <h1>Kung fu Panda 4</h1> 
        <p>Titulo Original :Profe paseme</p>
       <p>Estreno :25-04-2024</p>
       <p>Para toda la familia</p>
       <p>Animacion,Aventura,Comedia</p>
    
       <button><h3>Reservar</h3></button>
    </section>
     
</div>
 

<section class="containerprincipal">
<section class="formulario">
    <h1>Reservar</h1>    
<p>Hora de la funcion</p>

<select id="Hour" name="Hour" title="Selecciona la hora de la función">
  <option value="Hora">Hora 8:30</option>
</select>
<p>Formato</p>
<select id="Formato" name="Hour" title="Selecciona el formato">
    <option value="Formato">3D</option>
    <option value="Formato">2D</option>
  </select>
  <p>Asientos</p>
  <select id="silla" name="Hour" title="Selecciona el tipo de silla">
    <option value="Silla">Preferencial</option>
    <option value="Silla">Gente Comun</option>
  </select> 
<p></p>  


<button>Comprar</button>


</section>

<section class="Modulo">
    <video width="640" height="360" controls>
          <source src="../../assets/imagenes/Kung Fu Panda 4  Tráiler Oficial Universal Pictures  HD_1080p.mp4" type="video/mp4">
      </video>

  </section>
<br>

</section>
<section class="color">

    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Informacion legal</a></li>
        <li class="list-inline-item"><a href="#">Acerca de nosotros </a></li>
        <li class="list-inline-item"><a href="#">Contactos </a></li>
        <li class="list-inline-item"><a href="#">Preguntas frecuentes </a></li>
        <li class="list-inline-item"><a href="#">Convenios</a></li>
    </ul>
    <p class="copyright">Movie Reaction © 2024</p>
    </section>
</body>
</html>