
  <div id="Contenedor">
    <h1>Registr<img src="../../assets/imagenes/pelicula.png " alt="imagen"></h1>
    
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefono</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput>
    </mat-form-field>
   <button>Registrarse</button>
   
  </div>
  
  <div id="contenedor2"> 
 

<section id="imagenesSocial">
 
  </section>
  </div>
  
  
