.menu {
    background: linear-gradient(80deg, rgb(255, 255, 255), rgb(240, 240, 244));
    border-radius: 8px;
    padding: 10px; /* Agregamos un poco de padding para separar los elementos */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .menu-items {
    display: flex;
    margin-right: 20px; /* Espacio entre los elementos del menú */
  }
  
  .menu-items button,
  .menu-items a {
    margin-right: 10px;
  }
  
  #ingresar {
    margin-top: -13px;
  }
  
  input {
    border-radius: 8px;
    width: 100%; 
    max-width: 200px; 
    height: 23px;
  }
  
  img {
    width: 62px; /* Ajustamos el ancho de la imagen */
    height: 60px; 
    margin-right: 20px; /* Espacio entre la imagen y los otros elementos */
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Cambiamos la dirección del contenedor a columna en pantallas pequeñas */
      align-items: flex-start; /* Alineamos los elementos al inicio */
    }
  
    .menu-items {
      flex-direction: column; /* Cambiamos la dirección de los elementos del menú a columna */
      margin-bottom: 10px; /* Añadimos un margen inferior para separar los elementos */
    }
  
    .menu-items button,
    .menu-items a {
      margin-right: 0; /* Eliminamos el margen derecho en pantallas pequeñas */
      margin-bottom: 5px; /* Añadimos un margen inferior para separar los elementos */
    }
  
    #ingresar {
      margin-top: 10px; /* Ajustamos el margen superior */
    }
  
    input {
      width: 100%; /* Ancho al 100% en pantallas pequeñas */
      max-width: none; /* Eliminamos el ancho máximo */
    }
  
   
  }
  