.menu {
    background:linear-gradient(80deg, rgb(255, 255, 255), rgb(240, 240, 244));
    height: 11%;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 px; 
}

#ingresar{
    margin-top: -13px;
}


input {
    border-radius: 8px;
    width: 150%;
    height: 23px;
    margin-left: -40px; /* Ajusta el valor según tus necesidades */
}

img{
    width: 5%;
    height:62px;
     margin-top: 9px;
     margin-left: -70px; 
}

 







