<mat-toolbar class="menu">
    <div class="container">

        
         
             <img src="../../assets/imagenes/logo2.png" alt="">
           
 
    
        <a mat-button ><mat-icon >theaters</mat-icon>Cartelera</a>
        <a mat-button><mat-icon >subscriptions</mat-icon>Suscripciones</a>
        <a mat-button><mat-icon>fastfood</mat-icon></a>
     
        <div class="left-section">
         
       
        <input id="input">
     </div>
      <div class="right-section">
        
        <a mat-button><mat-icon>location_on</mat-icon>Ubicacion</a>
        <a mat-button ><mat-icon >person</mat-icon> Ingresar</a>
      </div>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  